
html, body {
  margin: 0 auto; 
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    justify-content: center;
}


#header{

    background-image: linear-gradient(to bottom left, #fabb00, #f29400);
    padding: 0;
    margin: 0;
    margin-top: 0;
    text-align: center;
    
}

#headerImage{

    width: 60vh;
    transform: scaleX(-1);
    position: fixed;
    bottom: 0px;
    margin-left: -20%;
    margin-right: -20%;
    
}

h1{
    color: white;
    font-family: AvenirBlack;
    font-size: 100px;
    margin: 0;
}

h2{
    color: white;
    font-family: AvenirRoman;
    font-size: 40px;
    margin: 0;
}

h3{
    color: white;
    font-family: AvenirRoman;
    font-size: 35px;
    margin: 0;
    
}

@font-face{
    font-family: AvenirBlack;
    src: url("../Fonts/Avenir-Black-03.ttf");
}

@font-face{
    font-family: AvenirHeavy;
    src: url("../Fonts/Avenir-Heavy-05.ttf");
}

@font-face{
    font-family: AvenirRoman;
    src: url("../Fonts/Avenir-Roman-12.ttf");
}

@font-face{
    font-family: BaskervilleStandard;
    src: url("../Fonts/Baskerville-01.ttf");
}

@font-face{
    font-family: BaskervilleItalic;
    src: url("../Fonts/Baskerville-Italic-03.ttf");
}

#titleHeader{
    
    float: left;
    padding-left: 100px;
    padding-top: 50px;
}

#logoHeader{
    height: 75px;
    width: 75px;

    position: absolute;
    bottom: 0;
    right: 0;

    padding-right: 5ch;
    padding-bottom: 5vh;

}

#timerPanel{
    background-color: #006ab3;
    text-align: center;
}

.panelTitle{
    font-family: AvenirBlack;
    font-size: 50px;
    padding-top: 75px;
    text-align: center;
    animation-name: panelTitleAnimation;
    animation-duration: 2s;
    /* animation-play-state: paused; */
}

@keyframes panelTitleAnimation{

    0% {opacity: 0%;}
    100% {opacity: 100%;}

}

.subTitle{
    text-align: center;
    font-family: BaskervilleStandard;
    color: white;
    padding-bottom: 25px;
    font-size: 20px;
}

.pad{
    
    background: #d4cbc5;
    border-radius: 10px;
    
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    
    width: 60px;
    height: 75px;
    
}

#timer{
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px;
    padding-bottom: 75px;
    
}

.timerPadText{

    color: #006ab3;
    padding: 10px 0;    
    
}

.timerText{

    display: inline-block;
    vertical-align: middle;
    color: #d4cbc5;
}

.tableText{

    font-family: BaskervilleStandard;
    color: #d4cbc5;
}

#footer{
    height: 40vh;
    background-color: #172983;
}

.footerSegment{

    padding-top: 75px;
    padding-left: 40px;
    text-align: left;
    height: auto;
    width: calc(33% - 70px);
    display: inline-block;
}

h4{
    color: white;
    font-family: AvenirHeavy;
    font-size: 15px;
    margin: 0;
    padding-bottom: 20px;
}

.inputBox{

    border-style: solid;
    padding-right: 10px;
    border-color: white;
    border-width: 1px;
    width: 200px;
    height: 40px;
    text-align: center;
    background-color: #172983;
    color: white;
}

button{
  border-style: solid;
    border-color: white;
    border-width: 1px;
    width: 70px;
    height: 44px;
    text-align: center;
    background-color: #172983;
    color: white;
}


#USP{
    
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        
        rgba(250, 187, 0, 0.9), 
        rgba(250, 187, 0, 0.9)
    ),
    /* bottom, image */
    url("../Bilder/Norrtalje/1.jpeg")0 0 no-repeat fixed;
    background-size: cover;
        
    
}

#visionTitle{
    
}

/* #USP{
    background-color: #fabb00;
} */

.hexaPanel{

    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    width: 275px;
    height: 275px;
    line-height: 275px;
    
}

.scale{
    animation-duration: 1s;
    animation-name: hexaPanelScale;
    animation-fill-mode: forwards;
    
}

.shrink{
    animation-duration: 1s;
    animation-name: hexaPanelShrink;
    animation-fill-mode: forwards;
}

@keyframes hexaPanelScale{
    0% {
        width: 275px;
        height: 275px;
        
    }

    100% {
        width: 350px;
        height: 350px;
    }
}
@keyframes hexaPanelShrink{
    0% {
        width: 350px;
        height: 350px;
    }

    100% {
        width: 275px;
        height: 275px;
    }
}

.hexaPanelTable{
    
    align-content: center;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 20px;
    height: 400px;
    
}

.hexaPanelTitle{
    
    font-size: 3vh;
    font-family: AvenirBlack;
    padding-left: 10%;
    padding-right: 10%;

}

.hexaPanelSubText{

    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-family: BaskervilleStandard;

}

#cameraHexaPanel{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        
        rgba(0, 106, 179, 0.9), 
        rgba(0, 106, 179, 0.9)
        
    ),
    /* bottom, image */
    url("../Bilder/StockPhotos/SecurityCamera.jpg")0 0 no-repeat;
    background-size: cover;
}

#linkopingsmodellenHexaPanel{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        
        rgba(0, 106, 179, 0.9), 
        rgba(0, 106, 179, 0.9)
        
    ),
    /* bottom, image */
    url("../Bilder/StockPhotos/Polis.jpg")0 0 no-repeat;
    background-size: cover;
}

#treHexaPanel{

background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        
        rgba(0, 106, 179, 0.9), 
        rgba(0, 106, 179, 0.9)
        
    ),
    /* bottom, image */
    url("../Bilder/StockPhotos/Sjukvard.jpg")0 0 no-repeat;
    background-size: cover;

}

#fyraHexaPanel{
background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        
        rgba(0, 106, 179, 0.9), 
        rgba(0, 106, 179, 0.9)
        
    ),
    /* bottom, image */
    url("../Bilder/StockPhotos/Polis.jpg")0 0 no-repeat;
    background-size: cover;
}