
html, body {
  margin: 0 auto; 
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    justify-content: center;
}


#header{

    
    background-image: linear-gradient(to bottom left, #fabb00, #f29400);

    /* background:
        -moz-radial-gradient(#fabb00 5%, transparent 5%),
        -moz-radial-gradient(#fabb00 5%, transparent 5%),
        #f29400;
    background:
        -webkit-radial-gradient(#fabb00 5%, transparent 5%),
        -webkit-radial-gradient(#fabb00 5%, transparent 5%),
        #f29400;
    background-position: 0 0, 25px 25px; */
    
    /* -webkit-background-size:50px 50px;
    -moz-background-size:50px 50px;
    background-size:50px 50px; */

    padding: 0;
    margin: 0;
    margin-top: 0;
    text-align: center;
    
}

#headerImage{

    width: 60vh;
    transform: scaleX(-1);
    position: fixed;
    bottom: 0px;
    margin-left: -20%;
    margin-right: -20%;
    
}

h1{
    color: white;
    font-family: AvenirBlack;
    font-size: 100px;
    margin: 0;
}

h2{
    color: white;
    font-family: AvenirRoman;
    font-size: 40px;
    margin: 0;
}

h3{
    color: white;
    font-family: AvenirRoman;
    font-size: 35px;
    margin: 0;
    
}

@font-face{
    font-family: AvenirBlack;
    src: url("../Fonts/Avenir-Black-03.ttf");
}

@font-face{
    font-family: AvenirHeavy;
    src: url("../Fonts/Avenir-Heavy-05.ttf");
}

@font-face{
    font-family: AvenirRoman;
    src: url("../Fonts/Avenir-Roman-12.ttf");
}

@font-face{
    font-family: BaskervilleStandard;
    src: url("../Fonts/Baskerville-01.ttf");
}

@font-face{
    font-family: BaskervilleItalic;
    src: url("../Fonts/Baskerville-Italic-03.ttf");
}

#titleHeader{
    
    float: left;
    padding-left: 100px;
    padding-top: 50px;
}

#logoHeader{
    
    width: 10vw;

    position: fixed;
    bottom: 0;
    right: 0;

    padding-right: 5ch;
    padding-bottom: 5vh;

}

#timerPanel{
    background-color: #006ab3;
    text-align: center;
}

.panelTitle{
    font-family: AvenirBlack;
    font-size: 50px;
    padding-top: 75px;
    text-align: center;
    animation-name: panelTitleAnimation;
    animation-duration: 2s;
    /* animation-play-state: paused; */
}

@keyframes panelTitleAnimation{

    0% {opacity: 0%;}
    100% {opacity: 100%;}

}

.subTitle{
    text-align: center;
    font-family: BaskervilleStandard;
    color: white;
    padding-bottom: 25px;
    font-size: 20px;
}

.pad{
    
    background: #d4cbc5;
    border-radius: 10px;
    
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    
    width: 60px;
    height: 75px;
    
}

#timer{
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px;
    padding-bottom: 75px;
    
}

.timerPadText{

    color: #006ab3;
    padding: 10px 0;    
    
}

.timerText{

    display: inline-block;
    vertical-align: middle;
    color: #d4cbc5;
}

.tableText{

    font-family: BaskervilleStandard;
    color: #d4cbc5;
}

#footer{
    height: 40vh;
    background-color: #172983;
}

.footerSegment{

    align-content: center;
    text-align: center;

    /* border-color: white;
    border-style: dotted;
    border-width: 2px; */

    width: 33%;
}

.footerTable{
    /* border-color: white;
    border-style: dotted;
    border-width: 1px; */

    width: 100%;
    height: 100%;
}

input{
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    height: 35px;
    text-align: center;
    color: white;
    align-self: center;
    border-style: solid;
    
}

input::placeholder{
    color: white;
}

.submitButton{
    align-self: center;
    background-color: white;
    color: #172983;
    border: none;
    vertical-align: center;
    margin-left: 2px;
    height: 39px;
    width: auto;
    font-family: AvenirBlack;
}

#separator{
    width: 100%;
}

#followField{
    
    border-collapse: separate;
    border-spacing: 40px;
}

.socialMediaButton{
    /* background-color: white; */
    width: 4.5vw;
    height: 4.5vw;

    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    display: inline-block;

}


.socialMediaImage{

    /* filter: invert(); */
    width:60%; 
    height:60%; 
    padding: 20%;
}

.socialMediaButtonHovered{
    background-color: white;
}

.socialMediaSpace{
    
    width: 1vw;
    height: 1vw;
    display: inline-block;
}

h4{
    color: white;
    font-family: AvenirHeavy;
    font-size: 15px;
}

.inputBox{

    border-style: solid;
    padding-right: 10px;
    border-color: white;
    border-width: 1px;
    width: 200px;
    height: 40px;
    text-align: center;
    background-color: #172983;
    color: white;
}

button{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    width: 70px;
    height: 44px;
    text-align: center;
    background-color: #172983;
    color: white;
}


#USP{
    
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        
        rgba(250, 187, 0, 0.9), 
        rgba(250, 187, 0, 0.9)
    ),
    /* bottom, image */
    url("../Bilder/Norrtalje/1.jpeg")0 0 no-repeat fixed;
    background-size: cover;
        
    
}

#visionTitle{
    
}

.hexaPanel{

    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    width: 20vw;
    height: 20vw;
    line-height: 20vw;
    
}

.scale{
    animation-duration: 1s;
    animation-name: hexaPanelScale;
    animation-fill-mode: forwards;
    
}

.shrink{
    animation-duration: 1s;
    animation-name: hexaPanelShrink;
    animation-fill-mode: forwards;
}

@keyframes hexaPanelScale{
    0% {
        width: 20vw;
        height: 20vw;
        
    }

    100% {
        width: 30vw;
        height: 30vw;
    }
}
@keyframes hexaPanelShrink{
    0% {
        width: 30vw;
        height: 30vw;
    }

    100% {
        width: 20vw;
        height: 20vw;
    }
}

.hexaPanelTable{
    
    align-content: center;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 20px;
    height: 400px;
    
}

.hexaPanelTitle{
    
    font-size: 3vh;
    font-family: AvenirBlack;
    padding-left: 10%;
    padding-right: 10%;

}

.hexaPanelSubText{

    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-family: BaskervilleStandard;

}

#cameraHexaPanel{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        
        rgba(0, 106, 179, 0.9), 
        rgba(0, 106, 179, 0.9)
        
    ),
    /* bottom, image */
    url("../Bilder/StockPhotos/SecurityCamera.jpg")0 0 no-repeat;
    background-size: cover;
}

#linkopingsmodellenHexaPanel{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        
        rgba(0, 106, 179, 0.9), 
        rgba(0, 106, 179, 0.9)
        
    ),
    /* bottom, image */
    url("../Bilder/StockPhotos/Polis.jpg")0 0 no-repeat;
    background-size: cover;
}

#treHexaPanel{
background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        
        rgba(0, 106, 179, 0.9), 
        rgba(0, 106, 179, 0.9)
        
    ),
    /* bottom, image */
    url("../Bilder/StockPhotos/Sjukvard.jpg")0 0 no-repeat;
    background-size: cover;

}

#fyraHexaPanel{
background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        
        rgba(0, 106, 179, 0.9), 
        rgba(0, 106, 179, 0.9)
        
    ),
    /* bottom, image */
    url("../Bilder/StockPhotos/Polis.jpg")0 0 no-repeat;
    background-size: cover;
}